.divStatus, input {
    background-color: #ffca2b;
    width: 90%;
    height: 30px;
    text-align: justify;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
}


.divStatus{
    border: 5px solid #ffeb69;
}

.divStatusOwner{
    transition: all 0.5s;
}

.divStatusOwner:hover{
    background-color: #ffd279;
    border: 3px solid black;
    cursor: text;
}

span{
    padding: 10px;
}

.input {
    composes: commonInput from "../../../../index.css";
    width: 94%;
}
.container{
    min-height: 15%;
    width: 100%;
 /*   border: 1px solid white;*/
    color: white;
}