.contacts{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 15px 0;
}

.container{
  width: 100%;
  min-height: 30px;
/*  border:  1px solid white;*/
  display: flex;
  align-items: center;
  color: #dbdbdb;
  padding: 10px 15px;
  background-color: rgb(255, 202, 43);
  border-radius: 15px;
}