
.usersPages {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.usersPages div{
    margin: 3px;
}

.page {
    color: #cdc497;
    padding: 5px;
    height: 25px;
    background-color: rgba(73, 22, 41, 0.82);
    border-radius: 5px;
    border: 1px solid rgba(43, 19, 21, 0.82)
}

.currentPage {
    background-color: #8f6748;
    color: #fffd08;
    border-color: gold;
}