.preloader{

}
.app-wrapper
{
    display: grid;
    background-color: #fff279;
/*    width: 1200px;*/
    width: 99vw;
    margin: 0 auto;

    grid-template-areas: 'h h'
    'n c' ;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    color: white;
    /* grid-gap: 10*/
}

a {
    color: white;
    text-decoration: none;
}

.app-wrapper-content
{
    background-color: #3b3a2d;

    grid-area: c;
}

.preloader
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: #4d0755;
}

.globalError
{
    position: fixed;
    top: 200px;
    left: 450px;

    width: 550px;
    padding: 10px;

    color: #22072a;
    border-radius: 35px;
    background-color: rgb(255, 231, 112);
}
